header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #c4c4c4; /* Change this color as needed */
    z-index: 1000; /* Ensures header is above other elements */
    display: flex;
    flex-direction: row;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    align-items: center;
    padding-right: 50px;
}

/* Right sidebar */
.sidebar {
    position: fixed;
    top: 70px;
    right: 0;
    width: 120px; /* Adjust the width as needed */
    height: 100%;
    background-color: #50bb82; /* Change this color as needed */
    z-index: 999; /* Ensures sidebar is above the header */
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.sidebar ul {

}

.option {
    margin-top: 7px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: width 0.5s ease, border-radius 0.5s; /* Transition width only */
    background-color: #50bb82;
    height: 20vh;
    /* min-height: 90px; */
    gap: 5px;
    z-index: 101;
    
  }



  /* .option:hover {
    width: 220px;
    border-radius: 0px 80px 80px 0px;
    flex-direction: row;
      gap: 18px;
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);

  } */

  .option-img-container {
    width: 55px;
    height: 55px;
    border-radius: 100%;
    padding: 7px;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .option img {
    width: 80%;

  }

  .option-title {
    color: white;
    font-size: 100%;
    font-weight: 700;
    width: 70px;
    text-wrap: wrap;
    display: block;
    line-height: 1.3;
  }

  .profile_button {
    border-radius: 100%;
    margin: 20px;
    height: 77%;
  }

  .profile_button:hover {
    filter: drop-shadow(0 0 0.5em #646cffaa);
    opacity: 0.8;
  }

  .spacer {
    flex-grow: 1; /* Takes up all available space, pushing the right items to the right */
}

.hello_user
{
    font-size: 24px;
}