.ride-register-container {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    background-color: white;
    border-radius: 25px;
    /* min-width: 290px;
    max-width: 500px; */
    padding: 20px;    
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    transition: transform 0.2s ease-in-out;
}

.ride-register-container:hover {
    transform: scale(1.02);
    z-index: 2000;
}

.details-container {
    width: 60%;
    /* min-width: 174px;
    max-width: 300px; */
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    gap: 8px;
}

.detail {
    max-width: 100%;
    /* min-width: 60px; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#combo-box-drop-station
{
    text-align: start;
}

.MuiInputBase-root
{
    background-color: #EDEDED;
    border-radius: 40px;
}

.css-154xyx0-MuiInputBase-root-MuiOutlinedInput-root
{
    border-radius: 40px;
}

.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
    line-height: 0.8;
}

.top-register-container {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: row;
    gap: 10px;
}

.plus-container {
    width: 30%;
    text-align: end;
}


.option-container {
    border-radius: 100%;
    background-color: #FFD700;
    cursor: pointer;
    padding: 10px;
    width: 30px;
    height: 30px;
    transition: transform 0.2s ease-in-out;
}

.option-container:hover {
    transform: scale(1.1);
    opacity: 0.8;
}

.option-ride-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px; 
    top: 0;
  }

  .option-ride-title {
    font-size: 12px;
    font-weight: 700;
    margin-top: 5px;
    line-height: 1;
    width: 58px;
  }